{% extends 'main.html' %} 
{% load static %} 
{% block content %} 
{% include 'alert.html' %}
<div class="row" style="margin-top: 9rem">
  <div class="col-lg-12">
    <div class="box-element" id="box-color">
      <a class="btn btn-outline-dark" href="#" onclick="history.back()"
        >&#x2190;</a
      >
      <table class="table">
        <tr>
          <th>
            <h6>Products: <strong>{{ products }}</strong></h6>
          </th>
          <th>
            <h6>Total: <strong>{{total|floatformat:2}} ugx</strong></h6>
          </th>
          <th>
            <a class="btn btn-success" href="{% url 'summary' %}"
              >Check Out ( {{total|floatformat:2}} ugx)</a
            >
          </th>
        </tr>
      </table>
    </div>
    <br />
    <div class="container">
      <div class="row">
        {% for item in items %}

        <div class="col-md-12 mt-3">
          <div class="card card-body shadow">
            <div class="row">
              <div class="col-md-8">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img
                      src="{{item.product.imageURL}}"
                      alt="Sample Image"
                      width="150"
                    />
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5>{{item.product.name}}</h5>
                    <p>
                      Unit Price: {{item.product.price|floatformat:2}} <br />
                      QUANTITY: {{item.quantity }} <br />
                      Sub Total: {{ item.total_cost }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <form action="" method="post" id="minusF{{ item.id }}">
                  <input
                    type="hidden"
                    class="action"
                    name="action"
                    value="minus"
                  />
                  <label for="quantity" class="w-100"> QUANTITY </label>
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ item.id }}" />
                  <input
                    type="hidden"
                    name="quantity"
                    value="{{ item.quantity }}"
                  />
                  <input
                    type="hidden"
                    name="price"
                    value="{{ item.product.price }}"
                  />
                </form>
                <form action="" method="post" id="plusF{{ item.id }}">
                  <input
                    type="hidden"
                    class="action"
                    name="action"
                    value="plus"
                  />
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ item.id }}" />
                  <input
                    type="hidden"
                    name="quantity"
                    value="{{ item.quantity }}"
                  />
                  <input
                    type="hidden"
                    name="price"
                    value="{{ item.product.price }}"
                  />
                </form>
                <div class="btn-group">
                  <button
                    type="submit"
                    class="btn btn-outline-primary minus"
                    data-form="minusF{{ item.id }}"
                  >
                    -
                  </button>
                  <button type="button" class="btn btn-outline-success active">
                    {{ item.quantity }}
                  </button>
                  <button
                    type="submit"
                    class="btn btn-outline-primary plus"
                    data-form="plusF{{ item.id }}"
                  >
                    +
                  </button>
                </div>
                <form action="" method="post" class="mt-3">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ item.id }}" />
                  <input type="hidden" name="action" value="delete" />
                  <button
                    type="submit"
                    class="btn btn-outline-danger btn-sm"
                    onclick="return confirm('Delete Item from cart?')"
                  >
                    Delete Item
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br />
  </div>
  <script type="text/javascript">
    const plus = document.querySelectorAll(".plus");
    const minus = document.querySelectorAll(".minus");
    for (let p = 0; p < plus.length; p++) {
      plus[p].addEventListener("click", function () {
        this.setAttribute("disabled", true);
        const current_v = this.previousElementSibling;
        current_v.innerHTML = Number(current_v.innerHTML) + 1;
        const form = document.getElementById(this.getAttribute("data-form"));
        form.submit();
      });
    }

    for (let m = 0; m < minus.length; m++) {
      minus[m].addEventListener("click", function (e) {
        this.setAttribute("disabled", true);
        const current_v = this.nextElementSibling;
        const quantity = Number(current_v.innerHTML) - 1;
        if (quantity === 0) {
          alert(
            "Can not reduce qauntity to 0. Prefer to delete the item instead!"
          );
          return e.preventDefault();
        }
        current_v.innerHTML = quantity;
        const form = document.getElementById(this.getAttribute("data-form"));
        form.submit();
      });
    }

    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>
  {% endblock content %}
</div>
