{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
</head>
<body>

    <p style="text-align: center;margin-top: 140px; font-size: 35px;">if you don't have an account <a href="{% url 'signup' %}"style="text-decoration: none;color: lightskyblue; font-size: 25px;">click Here.</a>
    <p style="text-align: center; font-size: 35px;text-decoration: none; margin-left: -75px;">if already have an account <a href="{%url 'signin' %}" style="text-decoration: none;color:rgb(96, 189, 247); font-size: 25px;">Login</a></p>
    <button><a href="{% url 'signout' %}">Signout</a></button>  
  
</p>
   
</body>
</html>