{% extends 'main.html' %}
{% load static%}
{% block content %}

{% include 'alert.html' %}

   
<div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">

    <div class="slide first">
        <img src="../static/images/news-2.jpg" alt="" width="1349.4" height="540">
    </div>

    <div class="slide1">
      <img src="../static/images/site.jpg.jpg" alt="" width="1355" height="540">
    </div>

    <div class="slide3">
      <img src="../static/images/bac.jpg" alt="" width="1356" height="540">
    </div>
    
    <div class="slide4">
      <img src="../static/images/news-2.jpg" alt="" width="1358" height="540">
    </div>

    <div class="nagivation-auto">
              <div class="auto-btn1"></div>
              <div class="auto-btn2"></div>
              <div class="auto-btn3"></div>
              <div class="auto-btn4"></div>
    </div> 
</div>

 <div class="nagativation-manual">
             <label for="radio1"class="manual-btn"></label>
             <label for="radio2"class="manual-btn"></label>
             <label for="radio3"class="manual-btn"></label>
             <label for="radio4"class="manual-btn"></label>
       </div>
       <div class="scroll">
        <p><strong> Welcome to 0neshop Grocery</strong></p>
         <div class="box-border">           
            <p style="background-color: orange;">Start Now</p>
         </div>
      </div>
    
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-expand-lg">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">See All</a></li>
              <li><a class="dropdown-item" href="#">Fresh Vegetables</a></li>
              <li><a class="dropdown-item" href="#">Fresh Fruits</a></li>
              <li><a class="dropdown-item" href="#"> Legumes</a></li>
              <li><a class="dropdown-item" href="#">Oils</a></li>
              <li><a class="dropdown-item" href="#">Snacks</a></li>
              <li><a class="dropdown-item" href="#">Spice & Grains</a></li>

            </ul>
          </li>
        </ul>



        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" id="navmark">
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Info</a>
            <a class="nav-link" href="#">Pricing</a>
           
          </div>
        

          <form class="d-flex" role="search" id="d-flex">
            <input class="form-control me-2" id="form_control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" id="change_color">Search</button>
          </form>


      </div>
    </div>
  </nav>


   <div class="row">
    {% for product in products %}
     <div class="col-lg-3">
      <img class="thumbnail"  src="{{ product.imageURL }}" alt="" width="200" height="170">
      <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr>
          
        <div class="d-flex justify-content-between">
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="price" value="{{ product.price }}"/>
                <input type="hidden" name="product" value="{{ product.id }}"/>
                <button class="btn btn-outline-secondary add-btn" type="submit">Add to cart</button>
          </form>
                
          <a class="btn btn-outline-success" href="#">View</a>
        </div>
        <h5 style="float: right;">{{product.price}}</5>
      </div>
  
 </div>
 {% endfor %}   

    

 <div class="seeall">
  <button class="seeall"><a href="{% url 'allproducts' %}">SeeAll</a></button>
 </div>

 <div class="popular">
     <h1 style="font-size:25px ;"><strong> Popular Products</strong></h1>
 </div>

      <div class="row row-cols-1 row-cols-md-4 g-3" >
        {% for product in products %}
              <div class="col">
                <div class="card h-70">
                  <img src="{{ product.imageURL }}" class="card-img-top" alt="..." width="200" height="170">
                  <div class="card-body">
                    <h5 class="card-title"><strong>{{product.name}}</strong></h5>
                    <hr>
                    <p class="card-text" style="font-family:Georgia, 'Times New Roman', Times, serif; font-size: 20px;">@each in shs </p>
                    <div class="d-flex justify-content-between">
                        <form action="" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="price" value="{{ product.price }}"/>
                          <input type="hidden" name="product" value="{{ product.id }}"/>
                          <button class="btn btn-outline-secondary add-btn" type="submit">Add to cart</button>
                      </form>
                      <a class="btn btn-outline-success" href="#">View</a>
                    </div>
                    <h5 style="float: right;">{{product.price}}</5>
                  </div>
                </div>
              </div>
              {% endfor %} 
            
       </div>
           
     </div>
   

   <div class="seeal">
    <button class="see"><a href="#">SeeAll</a></button>
   </div>

   
   <div class="pack">
    <h1 style="font-size:25px; margin-left: -45px;">Popular Bundle Pack</h1>
   </div>
 
   <div class="row row-cols-1 row-cols-md-2 g-3" id="cols">
      {% for mixed in mix %}
      <div class="col" id="card">
        <div class="card">
          <img src="../static/images/fresh-yam.jpg" class="card-img-top" alt="..."width="200" height="170">
          <div class="card-body">
            <h5 class="card-title"><strong>  Large Pack</strong></h5>
            <p class="card-text" id="large" >Tomato,Potato,Irish,Green paper +4</p>
            <div class="d-flex justify-content-between">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="price" value="{{ product.price }}"/>
                    <input type="hidden" name="product" value="{{ product.id }}"/>
                    <button class="btn btn-outline-secondary add-btn" type="submit">Add to cart</button>
                </form>
                <a class="btn btn-outline-success" href="#">View</a>
              </div>
            <h5 style="float: left; font-size: 28px;">200shs</5><br>
          </div>
         
        </div>
       
      </div>
      {% endfor %}
  </div>

  <div class="seeal">
    <button class="see"><a href="#">SeeAll</a></button>
   </div>


  <div class="comment">
    <h1 style="font-size:25px; margin-left: -56px; text-align: center; margin-top: 30px;">What Our Client's Say</h1>
   </div>
           
   <div class="row row-cols-1 row-cols-md-4 g-3" id="movecomment">
    <div class="col" >
      <div class="card h-80">
        <img src="../static/images/irish.jpg" class="card-img-top" alt="..." style="border-radius:50%;width:160px; height:140px; margin-left: 3rem; margin-top: 5px;">
        <div class="card-body">
          <h5 class="card-title"style="text-align: center;font-size:25px; font-family:Arial, Helvetica, sans-serif">Male Tonny</h5>
          <p class="card-text" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: solid black;font-size: 17px;">please change the interface, as we are not able to click view images of products in home page</p>
        </div>
      </div>
    </div>
    
    <div class="col" style="margin: 10px; margin-right:-20px;">
      <div class="card h-80">
        <img src="../static/images/fresh-yam.jpg" class="card-img-top" alt="..." style="border-radius:50%;width:160px; height:140px; margin-left: 3rem; margin-top: 5px;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;font-size:25px; font-family:Arial, Helvetica, sans-serif">Irene Carol</h5>
          <p class="card-text"style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: solid black;font-size: 17px;">The App is very verstaile and helpful in case of urgencies and mostly doesn't disappoint.</p>
        </div>
      </div>
    </div>


    <div class="col" style="margin: 10px; margin-right:-20px;">
      <div class="card h-80">
        <img src="../static/images/fresh-yam.jpg" class="card-img-top" alt="..." style="border-radius:50%;width:160px; height:140px; margin-left: 3rem; margin-top: 5px;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;font-size:25px; font-family:Arial, Helvetica, sans-serif">Irene Carol</h5>
          <p class="card-text"style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: solid black;font-size: 17px;">The App is very verstaile and helpful in case of urgencies and mostly doesn't disappoint.</p>
        </div>
      </div>
    </div>

    


    
   
   </div>   


  <footer>
  <div class="footer-container">
       <div class="foot-log">
        <a href="#"> <span> O</span>neshop</a>
        <div class="footer-social">
          <a href="#"> <i class="fab fa-facebook-f "></i></a>
          <a href="#"> <i class="fab fa-twitter "></i></a>
          <a href="#"> <i class="fab fa-instagram"></i></a>
          <a href="#"> <i class="fab fa-youtube "></i></a>

        </div>
       </div>
       <div class="footer-link">
        <strong>Products</strong>
        <ul>
          <li><a href="#">Popular</a></li>
          <li><a href="#">New</a></li>
          <li><a href="#">packages</a></li>
         
        </ul>       
       </div>

       <div class="footer-link">
        <strong>Category</strong>
        <ul>
          <li><a href="#">Vegetables</a></li>
          <li><a href="#">Fruits</a></li>
          <li><a href="#">Foods</a></li>
          <li><a href="#">Spices</a></li>
          <li><a href="#">Oils</a></li>
        
        </ul>

        
       </div>
       <div class="footer-link">
        <strong>Contacts</strong>
        <ul>
          <li style="font-size: 0.9rem; opacity: 0.5; color: #ffffff;">Phone:<a href="#" style="margin-left:5px;">0751530868</a></li>
          <li style="font-size: 0.9rem; opacity: 0.5; color: #ffffff;">Email:<a href="#" style="margin-left:5px;">Oneshop@gmail.com</a></li>
 
        </ul>

        
       </div>
       <div class="footer-link">
        <strong>Message</strong>
        <ul>
         <input type="text" style=" height:60px; border: none; border-radius: 5px; outline: none;">
          <button  class="send" style="width: 50px; border: none; border-radius: 3px; background-color: rgb(255, 167, 4);" >Send</button>
        </ul>

        
       </div>
       
  </div>
  
</footer>

   <script type="text/javascript">
    var counter= 1;
      setInterval(function(){
        document.getElementById("radio" + counter).checked=true;
        counter++;
        if (counter > 4){
          counter = 1;
        }
        
      },5000);
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
 </script>
  
{% endblock content%}
</body>
</html>